In [ ]:
# 1) Write a program that checks if a number is negative, and prints "The number is negative" if it is.

# 2) Write a program that checks if a number is odd, and prints "The number is odd" if it is.

# 3) Determining price categories based on age for a theme park
# if age under 5, price 0,
# age between 6 and 12  -> price 10
# age between 13 and 65 -> price 20
# age above 65 -> price 15

# 4) Classifying a student's grade A, B, C, D, F

# 5) check password
# username = "admin"
# password = "123456"

# 6) dicount coupon
# Discounts on a product based on a coupon code:DISCOUNT10 -> price - 10

In [ ]:
num = int(input("number"))
if num < 0 :
  print("-ve")
else:
  print("+ve")

number-3
-ve

In [ ]:
age = float(input("age"))
if age <= 5:
  print("0")
elif 6<=age<=12:
  print("10")
elif 13<=age<=65:
  print("20")
else :
  print("15")

age66
15

In [ ]:
from ast import And
# 5) check password
# username = "admin"
# password = "123456"
username = input()
password = input()
if username =="admin"  and password == "123456":
  print("welcome")
else:
  print("false")

admin
123456
welcome

In [ ]:
# 6) dicount coupon
# Discounts on a product based on a coupon code:DISCOUNT10 -> price - 10
reel_price= float(input("reel price : "))
coupon_code = input("coupon code")
if (coupon_code =="DISCOUNT10"):
  print  (reel_price - 10.0)
else:
 print("no discount : " + print( + reel_price))

reel price : 34
coupon code4
34.0

TypeError: ignored

In [ ]:
# 1) Print the square of each number in the list [1, 2, 3, 4, 5].

# 2) Print all numbers from 0 to 10 using a while loop.

# 3) Count down from 10 to 1 and then print "Blast off!"

# 4) Print all even numbers from the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] in one line using a for loop.

In [ ]:
list =[1, 2, 3, 4, 5]
for i in list :
  print(i**2)

1
4
9
16
25

In [ ]:
# 2) Print all numbers from 0 to 10 using a while loop.

i=0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 3) Count down from 10 to 1 and then print "Blast off!"
i=10
while i>=1:
  print(i)
  i-=1
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

In [ ]:
# 4) Print all even numbers from the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] in one line using a for loop.
listw = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in listw:
  if i % 2 == 0:
    print(i, end=" ")

2 4 6 8 10

In [ ]:
#Task 1: Write a program that takes two numbers as inputs from the user and prints their sum.

#Task 2: Write a program that takes an integer input from the user. Use a for loop to print all numbers from that integer down to 0.

#Task 3: Write a program that takes an integer input from the user. Use a while loop to keep doubling the number until it is greater than 1000, then print the result.

#Task 4: Write a function that takes a number as input and returns the square of the number. Use it in a program that takes an input from the user and prints the square.

#Task 5: Write a program that takes a number as input from the user. If the number is greater than 10, print "Big number". If the number is less than or equal to 10, prin####t "Small number".

#Task 6: Write a function that takes two numbers as inputs and returns their product. Use this function in a program that takes two inputs from the user and prints the product.

#Task 7: Write a program that uses a while loop to take a number as input from the user, subtract 5, and print the result. Continue this until the result is less than 0.

#Task 8: Write a program that uses a for loop to take an integer input from the user and print the factorial of that number.

#Task 9: Write a program that takes a number as input from the user. If the number is positive, print "Positive". If the number is negative, print "Negative". If the number is zero, print "Zero".

#Task 10: Write a lambda function that takes two numbers as inputs and returns their division as a floating-point number. Use this function in a program that takes two inputs from the user and prints the division

In [ ]:
#Task 1: Write a program that takes two numbers as inputs from the user and prints their sum.
num1=int(input("num 1 : "))
num2=int(input("num 2 : "))
sum=(num1+num2)
print(sum)

num 1 : 4
num 2 : 5
9

In [ ]:
 #Task 2: Write a program that takes an integer input from the user. Use a for loop to print all numbers from that integer down to 0.
i=int(input())
while i>=0:
  print(i)
  i-=1

5
5
4
3
2
1
0

In [ ]:
ir=input()
for i in ir :
  i-=1
  print(i)

4

TypeError: ignored

In [ ]:
#Task 3: Write a program that takes an integer input from the user. Use a while loop to keep doubling the number until it is greater than 1000, then print the result.
ir=int(input())
while ir<=1000:
  ir*=ir
  print (ir)

5
25
625
390625

In [ ]:
i=int(input())
#r=i*2
  return i*2

In [ ]:
#Task 4: Write a function that takes a number as input and returns the square of the number. Use it in a program that takes an input from the user and prints the square.
def hh(i):
  return i**2
hh(int(input()))

5

25

In [ ]:
#Task 5: Write a program that takes a number as input from the user. If the number is greater than 10, print "Big number". If the number is less than or equal to 10, prin####t "Small number".
i=int (input())
if (i>10):
  print("Big number")
elif(i<=10):
  print("small number")

4
small number

In [ ]:
#Task 6: Write a function that takes two numbers as inputs and returns their product. Use this function in a program that takes two inputs from the user and prints the product.

def two(a,b):

  return a*b

a = float(input("num1 : "))
b = float(input("num2 : "))

pet = two(a,b)

print ("pet" , pet)

num1 : 2
num2 : 4
pet 8.0

In [ ]:

#Task 7: Write a program that uses a while loop to take a number as input from the user, subtract 5, and print the result. Continue this until the result is less than 0.

user = int (input("user number : "))
while user > 0:
  print (user)
  user= user -5

user number : 40
40
35
30
25
20
15
10
5

In [ ]:
#Task 8: Write a program that uses a for loop to take an integer input from the user and print the factorial of that number.
user = int (input("user number : "))
u=1
for i in range(1,user+1):

  print ("e",i)

  u=u*(i)
print(u)

user number : 5
e 1
e 2
e 3
e 4
e 5
120

In [ ]:
#Task 9: Write a program that takes a number as input from the user. If the number is positive, print "Positive". If the number is negative, print "Negative". If the number is zero, print "Zero".
user=int(input("Enter number : "))
if user>0:
  print("+ve")
elif user<0:
  print("-ve")
else:
  print('the number is 0|')

Enter number : 23
+ve

In [ ]:
#Task 10: Write a lambda function that takes two numbers as inputs and returns their division as a floating-point number. Use this function in a program that takes two inputs from the user and prints the division
def num(a,b):



  return a/b

In [ ]:
num(2,3)

0.6666666666666666

In [ ]:
num(6,2
    )

3.0